body,h1,h2,h3,h4,h5,h6, p {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

#top {
    background-color:#262c36
    /* text-color: white; */
}

#home {
    padding: 128px 16px;
    color: white;
    background-color:#262c36
    
}

